body {
  font-family: "Lato", sans-serif;
  //   font-weight: 400;
  /* font-size: 16px; */
  //   line-height: 1.7;
  padding: 3rem;
}

// ---------navigation-------------

.nav-element {
  &__menu {
    &__single-items {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: 2rem;
  }
}

// ---------main grid-------------

.main-grid {
  &__all {
    font-size: 2rem;
  }

  //   &__row {
  //   }

  &__col-1-of-3 {
    &__items {
    }
    &__middle {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__tags {
      font-size: 1.5rem;
    }
  }

  //   &__upper {
  //   }

  //   &__lower {
  //   }
}

// ---------summary-------------

.container-main {
  font-weight: lighter;
  font-size: 15rem;
  // background-color: rebeccapurple;

  & p {
    font-size: 4rem;
  }
}
