body {
  background-color: rgb(233, 230, 230);
  margin: 0;
}
.container-main {
  width: 90vw;
  margin: 2rem;
  padding: 1rem;
  border: blue 1px solid;
  display: flex;
  justify-content: center;
  border-color: black 1px solid;
  font-size: 2rem;
  text-align: left;
}

.summary {
  display: flex;
  justify-content: center;
}
