.container-main {
  margin: 2rem;
  padding: 1rem;
  border: blue 1px solid;
  display: flexbox;
  text-align: center;
  // align-items: flex-end;
  border-radius: 20px;
  border-color: black 1px solid;
}
