.main-grid {
  display: flex;
  justify-content: center;

  &__all {
    border: grey 1px solid;
    width: 80vw;
    display: flex;
    // flex-direction: column;
    // text-align: center;
    // justify-content: center;
  }

  &__row {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__col-1-of-3 {
    // width: 25rem;
    // border: black solid 1px;
    // border-radius: 10px;
    // height: 30rem;
    // margin: 2rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: green 3px solid;
    display: flex;
    // flex-wrap: wrap;
    &__items {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      background-color: blue;
      border: pink 3px solid;
    }
  }

  &__upper {
    height: 80%;
    border: black solid 1px;
    text-align: center;
  }

  &__lower {
    height: 20%;
    border: black solid 1px;
    text-align: center;
  }

  &__image {
    width: 25rem;
    border: black solid 1px;
    border-radius: 10px;
    height: 30rem;
    margin: 2rem;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
}

[class^="main-grid__col-"] {
  // float: left;
}

[class^="main-grid__col-"]:not(:last-child) {
  // margin-right: 6rem;
}
