.nav-element {
  &__menu {
    &__all {
      border: red 1px solid;
      width: 40rem;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__single-items {
      margin: 0;
      background-color: pink;
    }
  }

  &__title {
    border: blue 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
