.nav-elements__all {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-element {
  &__menu {
    &__all {
      border: red 1px solid;
      width: 40rem;
      list-style-type: none;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__single-items {
      margin: 0;
      padding: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      // border: 2px black solid;
      // border-radius: 20px;
      width: 10rem;
      &:hover {
        box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.5);
        transform: translateY(7px);
        // transform: rotate(-20deg);
        cursor: pointer;
      }
    }
  }
  &__title {
    border: blue 3px solid;
    // background-color: yellow;
    display: flex;
    // flex-direction: column;
    align-items: center;
  }
}

//--------------responsive--nav-styling----------------

// menu

.header .nav-element__container .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

// menu icon

.header .menu-icon {
  border: 1px solid red;
  padding: 23px 15px;
  position: relative; // parent container position
  user-select: none;
  cursor: pointer;
  float: right;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  width: 35px;
  position: relative;
  transition: background 0.2s ease-out; // for the animation
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  top: 7px;
}

.header .menu-icon .nav-icon:after {
  top: -8px;
}

// menu btn

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .nav-element__container .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

//--------------responsive--nav-----------------

// @media (min-width: 48em) {
@media (min-width: 600px) {
  .nav-element__single-items {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1313px) {
  body {
    background-color: grey;
  }

  .header .menu-icon {
    display: flex;
    background-color: green;
  }

  .nav-elements__all {
    width: 100vw;
    display: block;
    // background-color: greenyellow;
  }

  .nav-element__container {
    // display: flex;
    // justify-content: center;
    // background-color: rgb(107, 127, 175);
  }

  // header ul
  .menu {
    // background-color: indianred;
    // border: rgb(0, 0, 0) 1px solid;
    width: 100%;
    // list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-end;
    padding: 0rem 1rem;
    text-decoration: none;
  }

  // header li a
  .nav-element__menu__single-items {
    background-color: white;
    width: 100%;
    // list-style: none;
    text-decoration: none;
    margin: 2px;
    padding: 2rem 0rem;
    // margin-right: 0.5rem;
    // display: flex;
    // justify-content: center;
    display: block;

    &:hover {
      background-color: white;
      // box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.5);
      border-bottom: 2px black solid;
      // transform: translateY(7px);
      // transform: rotate(-20deg);
      cursor: pointer;
    }
  }

  .nav-element__title {
    float: left;
    border: blue 3px solid;
    // display: flex;
    // border-bottom: red;
    // align-items: center;
  }
}
