.nav-elements {
  display: flex;
  justify-content: center;
  margin-top: 0;
  text-decoration: none;

  &__all {
    // position: fixed;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: black 1px solid;
  }
  &__all {
    position: fixed;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-element {
  &__menu {
    &__all {
      // border: red 1px solid;
      width: 40rem;
      list-style-type: none;
      list-style: none;
      text-decoration: none;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__single-items {
      margin: 0;
      padding: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      // border: 2px black solid;
      // border-radius: 30px;
      width: 8rem;
      text-decoration: none;
      list-style-type: none;
      list-style: none;

      &:hover {
        box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.5);
        transform: translateX(3px);
        cursor: pointer;
      }
    }
  }
  &__title {
    // border: blue 3px solid;
    display: flex;
    align-items: center;
  }
}

//--------------resp--nav-styling----------------

// menu icon

.header .menu-icon {
  // border: 1px solid red;
  padding: 23px 15px;
  position: relative; // parent container position
  user-select: none;
  cursor: pointer;
  float: right;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  width: 35px;
  position: relative;
  transition: background 0.2s ease-out; // for the animation
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out; // for the animation
}

.header .menu-icon .nav-icon:before {
  top: 7px; // icon positioning one barre
}

.header .menu-icon .nav-icon:after {
  top: -8px; // icon positioning one barre
}

//-----------------menu btn-styling-----------------------------------------

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .nav-element__container .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

//--------------responsive--nav-----------------

@media (min-width: 600px) {
  .nav-elements__all {
    display: flex;
    // position: relative;
    z-index: 3;
    // align-items: center;
    // text-align: center;
    // background-color: indianred;
  }
  .nav-element__single-items {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1313px) {
  body {
    background-color: grey;
  }

  .header .nav-element__container .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .header .menu-icon {
    display: flex;
  }

  .nav-elements__all {
    width: 100vw;
    display: block;
  }

  .menu {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0rem 1rem;
    text-decoration: none;
  }

  .nav-element__menu__single-items {
    background-color: white;
    width: 100%;
    text-decoration: none;
    margin: 2px;
    padding: 2rem 0rem;
    display: block;

    &:hover {
      background-color: white;
      border-bottom: 2px black solid;
      cursor: pointer;
    }
  }

  .nav-element__title {
    float: left;
    border: blue 3px solid;
  }

  .nav-elements {
    &__all {
      // position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 2rem;
      border: rgb(17, 0, 255) 1px solid;
    }
  }
}
