.tags {
  display: flex;
  justify-content: center;

  &__all {
    border: steelblue 1px solid;
    width: 80vw;
    padding: 2rem 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
  }

  &__single {
    background-color: white;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: black;
    width: 10rem;
    &:hover {
      box-shadow: 6px 6px 6px 5px rgba(73, 7, 255, 0.5);
      transform: translateY(7px);
      // transform: rotate(-20deg);
      cursor: pointer;
    }
  }
}
